@model Redirect.Application.DTOs.RedirectURLDTO

<div class="container mt-5">
    <div class="card shadow-sm border-0">
        <div class="card-header bg-primary text-white text-center fw-bold">
            <h4 class="mb-0">editar Redirecionamento</h4>
        </div>
        <div class="card-body">
            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="Codigo" />

                <div class="mb-3">
                    <label asp-for="UrlAntiga" class="form-label fw-semibold">URL Antiga</label>
                    <input asp-for="UrlAntiga" class="form-control" placeholder="/pagina-antiga" />
                    <span asp-validation-for="UrlAntiga" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="UrlNova" class="form-label fw-semibold">URL Nova</label>
                    <input asp-for="UrlNova" class="form-control" placeholder="/nova-pagina" />
                    <span asp-validation-for="UrlNova" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-end gap-2 mt-4">
                    <a asp-action="Index" class="btn btn-outline-secondary px-4 mx-1">Cancelar</a>
                    <button type="submit" class="btn btn-primary px-4 mx-1">Salvar Alterações</button>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    h4 {
        color: #fff !important;
    }
</style>