@{ ViewData["Title"] = "Cadastro Concluído"; }

<h2>Cadastro realizado com sucesso!</h2>

<p>Sua página foi criada com sucesso!</p>

<a asp-controller="Pagina" asp-action="Index" class="btn btn-primary">Voltar para Cadastro</a>
